.centered {

    margin-left: calc((100% - var(--width-value)) / 2);
    margin-right: calc((100% - var(--width-value)) / 2);
}

canvas {
    position:sticky
}

.blue-cursor {
    cursor: url('../../public/assets/images/blue-cursor.png'), auto;
}

.green-cursor {
    cursor: url('../../public/assets/images/green-cursor.png'), auto;
}

.red-cursor {
    cursor: url('../../public/assets/images/red-cursor.png'), auto;
}

.cyan-cursor {
    cursor: url('../../public/assets/images/cyan-cursor.png'), auto;
}

.magenta-cursor {
    cursor: url('../../public/assets/images/magenta-cursor.png'), auto;
}

.yellow-cursor {
    cursor: url('../../public/assets/images/yellow-cursor.png'), auto;
}

.orange-cursor {
    cursor: url('../../public/assets/images/orange-cursor.png'), auto;
}

.purple-cursor {
    cursor: url('../../public/assets/images/purple-cursor.png'), auto;
}